*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-primary: #0b132b;
  --bg-secondary: #1c2541;
  --accent-gold: #ffb703;
  --text-primary: #f5f7ff;
  --text-muted: #bfc7e6;
  --steam-blue: #66c0f3;
  --xbox-green: #9bf00b;
  --ps-blue: #66a0ff;
  --nintendo-red: #ff4d4d;
}

body{
  min-height: 100vh;
  font-family:'Trebuchet MS', 'Segoe UI', sans-serif;
  color: var(--text-primary);
  background: radial-gradient(circle at 10% 10%, #243b71 0%, transparent 35%),
              radial-gradient(circle at 90% 20%, #9d4edd 0%, transparent 30%),
              linear-gradient(120deg, #0b132b, #1c2541);
  background-attachment: fixed;

}